body {
  /* background: #C61E8D; */
  background: #F6F7FB;
  color: white;
  margin: 0px;
  font-size: 16px;
  font-family: 'Druk Wide'; font-weight: 500; font-style: normal;
  background: #F6F7FB;
}
h1 {
  font-size: 400%;
  text-transform: uppercase;
  line-height: 10%;
}
a {
  color: black;
  text-decoration: none;
}
h1 em {
  color: white;
  font-style: normal;
}
h2 {
  font-size: 300%;
  color: black;
}
h3, h6 {
  font-size: 180%;
  color: black;
}
h4 {
  font-size: 80%;
  color: black;
}
h5{
  font-size: 300%;
  color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  text-align: centre;
  margin: auto;
  text-transform: uppercase;
}
p {
  font-family: 'Roboto', sans-serif;
  color: black;
}
 nav{
   height: 100px;
   width: 100%;
   background: #F6F7FB;
   z-index: 100;
   position: fixed;
   border-bottom: solid black 1px;
 }
nav ul {
    margin: auto;
    height: 100px;
    position: relative;
    display: flex;
    vertical-align: middle;
    text-align: center;
    width: 95%;
    padding: 0;
}
 nav ul li{
    display: inline-block;
      font-size: 20px;
      font-family: 'Druk Wide'; font-weight: 500; font-style: normal;
      margin: auto;
      color: black;
 }


/*-----Header----- */

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: left;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../img/HEADER.jpg");
}

.header-text {
  display: block;
  position: absolute;
  top: 15%;
  z-index: 1;
  overflow: hidden;
  width: 85%;
  margin: auto;
  vertical-align: middle;
  left: 5%;
  right: 5%;
}

.header-text h1 {
  width: 100%;
}

.section {
  float: left;
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.three-column-images {
  height: auto;
  width:85%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.image-block {
  vertical-align: middle;
  width: 29%;
  height: 30vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1%;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-block-one{
  background-image: url("../img/03.jpg");
}
.image-block-two{
  background-image: url("../img/02.jpg");
}
.image-block-three{
  background-image: url("../img/01.jpg");
}
.image-block-four{
  background-image: url("../img/06.jpg");
}.image-block-five{
  background-image: url("../img/05.jpg");
}.image-block-six{
  background-image: url("../img/04.png");
}

.section-headline {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 85%;
  margin: auto;
  vertical-align: middle;

}


.section-list ul {
    margin: auto;
    height: 100px;
    position: relative;
    display: flex;
    vertical-align: middle;
    text-align: center;
    width: 72%;
    padding: 0;
}
.section-list ul li{
      font-size: 100%;
      text-transform: uppercase;
      font-family: 'Druk Wide'; font-weight: 500; font-style: normal;
      margin: auto;
      color: black;
 }

 .image-left {
   position: absolute;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-image: url("../img/location.jpg");
   height: 60vh;
   width: 40%;
   margin-left: 100px;
   outline: solid #ECEEF2 100px;
 }
.image-right {
  position: absolute;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/map.jpg");
  opacity: 0.8;
  height: 80vh;
  width: 70%;
  right: 0;
}

.image-right.flights{
    background-image: url("../img/flight.jpg");
    opacity: 1;
    height: 60vh;
    bottom: 20%;
}

.text-box-flights {
  margin-left: 7%;
  width: 40%;
  position: relative;
  background: white;
  padding: 3%;
  top: 10%;
}
.fixed-background{
  height:100vh;
  width:100%;
  margin: auto;
  position:fixed;
  z-index: 0;
}
.fixed-background h1 {
  color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  text-align: centre;
  margin: auto;
  text-align: center;
  width: 95%;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  font-family: 'Druk Wide Super'; font-weight: 500; font-style: normal;
}

.section.activities {
  padding-top: 1px;
  padding-bottom: 1px;
  height:auto;
}

.image-full-container {
  height: auto;
  width:100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.image-full {
  vertical-align: middle;
  width: 31.25%;
  height: 30vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1%;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left-large {
  vertical-align: middle;
  width: 37%;
  height: 63vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/01-hotel_1.jpg");
  float: left;
  margin-left: 0;
}

.top-container {
  vertical-align: middle;
  width: 60%;
  height: 30vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1%;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom:10%;
}

.bottom {
  width: 48%;
  height: 30vh;
  position: relative;
  float: right;
  bottom: 7%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.section.activities {
  height: auto;
}

.top.left.apartment {
  background-image: url("../img/01-hotel_2.jpg");
}

.top.middle.apartment{
  background-image: url("../img/01-hotel_3.jpg");
}
.top.right.apartment {
  background-image: url("../img/01-hotel_4.jpg");
}

.bottom.left.apartment {
  background-image: url("../img/01-hotel_5.jpg");
}
.bottom.right.apartment {
  background-image: url("../img/01-hotel_6.jpg");
}


/*-----02-accommodation------ */

.left-large.Catalonia {
    background-image: url("../img/02-hotel_1.jpg");
}
.top.left.Catalonia {
  background-image: url("../img/02-hotel_2.jpg");
}

.top.middle.Catalonia{
  background-image: url("../img/02-hotel_3.jpg");
}
.top.right.Catalonia {
  background-image: url("../img/02-hotel_4.jpg");
}

.bottom.left.Catalonia {
  background-image: url("../img/02-hotel_5.jpg");
}
.bottom.right.Catalonia {
  background-image: url("../img/02-hotel_6.jpg");
}

.text-box-accommodation {
  margin-left: 7%;
  width: 40%;
  position: absolute;
  background: white;
  padding: 3%;
  height: auto;
  bottom: 0;
}


.two-block {
padding-top: 2%;
width: 85%;
margin: auto;
position: relative;
height: auto;
}

.block {
  width: 45%;
  min-height: 55vh;
  overflow: hidden;
}

.block.left-block{
  float: left;
}

.block.right-block{
  float: right;
}

.block-image {
  width:100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block ul {
  padding-inline-start: 20px;
  color: black;
}

.block-image.caixa {
  background-image: url("../img/Museum-01.jpg");
}
.block-image.miles-van {
  background-image: url("../img/Museum-02.jpg");
}
.block-image.erotic {
  background-image: url("../img/Museum-03.jpg");
}
.block-image.antoni{
  background-image: url("../img/Museum-04.jpg");
}
.block-image.la-sagrada{
  background-image: url("../img/Museum-05.jpg");
}
.block-image.casa-batllo{
  background-image: url("../img/Museum-06.jpg");
}

.block-image.moog{
  background-image: url("../img/opium.jpg");
}
.block-image.cityhall{
  background-image: url("../img/pacha.jpg");
}


.left-large.food {
    background-image: url("../img/food-1.jpg");
}
.top.left.food {
  background-image: url("../img/food-2.jpg");
}
.top.middle.food{
  background-image: url("../img/food-3.jpg");
}
.top.right.food {
  background-image: url("../img/food-4.jpg");
}
.bottom.left.food {
  background-image: url("../img/food-5.jpg");
}
.bottom.right.food {
  background-image: url("../img/food-6.jpg");
}


.section.restaurant-bars{
  height: auto;
  padding-top: 5%;
  padding-bottom: 0;
}

.block-image.bodega {
  background-image: url("../img/restaurant-01.jpg");
}
.block-image.federal {
  background-image: url("../img/restaurant-02.jpg");
}
.block-image.london {
  background-image: url("../img/bar-01.jpg");
}
.block-image.rubi-bar {
  background-image: url("../img/bar-02.jpg");
}

.text-box-budget {
  margin:auto;
  width: 50%;
  position: relative;
  background: white;
  padding: 3%;
}

.responsive-notice {
  background: white;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 3000;
}

.responsive-notice h6{
  text-align: center;
  margin: auto;
  position: relative;
  display: inline-block;
  color: black;
  z-index: 3001;
  opacity: 1;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 85%;
}

@media only screen and (max-width: 1280px) {
  .responsive-notice  {
    display: block;
  }
}
